@model ProjektZespolowy.Models.AirLine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AirLine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PublicId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkToPage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkToPage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AirLineId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
