@model IEnumerable<ProjektZespolowy.Models.Tickets.TicketViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Bilety</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Lot")
        </th>
        <th>
            @Html.DisplayName("Pasażer")
        </th>
        <th>
            @Html.DisplayName("Data odlotu")
        </th>
        <th>
            @Html.DisplayName("Data przylotu")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Flight.AirRoute.StartAirportCode) - @Html.DisplayFor(modelItem => item.Flight.AirRoute.FinishAirportCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passenger.FirstName) @Html.DisplayFor(modelItem => item.Passenger.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight.ArrivalDate)
            </td>
            <td>
                
                @Html.ActionLink("Szczegóły", "Details", new { id = item.PublicId }) 

                @if(item.Flight.DepartureDate>DateTime.Now)
                {
                    <span>
                        | @Html.ActionLink("Usuń", "Delete", new { id = item.PublicId })
                    </span>
                }
            </td>
        </tr>
    }

</table>
