@model ProjektZespolowy.Models.Flights.FlightViewModel

@{
    ViewBag.Title = "Usuń";
}

<h2>Usuń</h2>

<h3>Czy na pewno chcesz usunać?</h3>
<div>
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Lotnisko startowe: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirRoute.StartAirportCode)
        </dd>

        <dt>
            @Html.DisplayName("Lotnisko docelowe: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirRoute.FinishAirportCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfFreeSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfFreeSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
