@model ProjektZespolowy.Models.Flights.FlightViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Lotnisko startowe: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirRoute.StartAirportCode)
        </dd>

        <dt>
            @Html.DisplayName("Lotnisko docelowe: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirRoute.FinishAirportCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfFreeSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfFreeSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @if(User.IsInRole("Admin")||User.IsInRole("Moderator"))
    {
        <span>
            @Html.ActionLink("Edytuj", "Edit", new { id = Model.PublicId }) |
        </span>
    }
    @Html.ActionLink("Powrót do listy", "Index")
</p>
