@model IEnumerable<ProjektZespolowy.Models.Flight>

@{
    ViewBag.Title = "Index";
}

<h2>Loty</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AirRoute.StartAirportCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfFreeSeats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AirRoute.StartAirportCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublicId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfFreeSeats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FlightId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FlightId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FlightId })
        </td>
    </tr>
}

</table>
