@model IEnumerable<ProjektZespolowy.Models.AirPort.AirPortViewModel>

@{
    ViewBag.Title = "Lotniska";
}

<h2>Lotniska</h2>

@if(User.IsInRole("Admin")||User.IsInRole("Moderator"))
{
<p>
    @Html.ActionLink("Dodaj", "Create")
</p> 
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
            {
                <span>@Html.ActionLink("Edytuj", "Edit", new { id = item.publicId }) |</span>
            }

            @Html.ActionLink("Szczegóły", "Details", new { code = item.Code })
            @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
            {
                <span>
                    | @Html.ActionLink("Usuń", "Delete", new { id = item.publicId })
                </span>
            }

        </td>
    </tr>
}

</table>
