@model IEnumerable<ProjektZespolowy.Models.AirRoutes.AirRouteViewModel>

@{
    ViewBag.Title = "Trasy";
}

<h2>Trasy</h2>


@using (Ajax.BeginForm(new AjaxOptions
{
    Url = Url.Action("AirRoutesList", "AirRoutes"),
    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "list"
}))
{
    <div class="form-group form-inline">
        <select name="startCode" class="form-control">
            <option value="" selected>Wybierz lotnisko startowe</option>
            @foreach (var airport in ViewBag.Start)
            {
                <option value="@airport.Code">@airport.Name </option>
            }
        </select>
        <select name="finishCode" class="form-control">
            <option value="" selected>Wybierz lotnisko końcowe</option>
            @foreach (var airport in ViewBag.Finish)
            {
                <option value="@airport.Code">@airport.Name </option>
            }
        </select>
        <input type="submit" value="Szukaj" class="btn btn-primary" />
    </div>
}

<div id="list">
    @Html.Action("AirRoutesList", "AirRoutes")
</div>
