@model IEnumerable<ProjektZespolowy.Models.AirRoutes.AirRouteViewModel>

@{
    ViewBag.Title = "Trasy";
}

<h2>Trasy</h2>

@if(User.IsInRole("Admin") || User.IsInRole("Moderator"))
{
    <p>
        @Html.ActionLink("Dodaj", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Linia lotnicza")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartAirport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishAirport)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AirLine.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartAirport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishAirport)
            </td>
            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                {
                    <span>@Html.ActionLink("Edytuj", "Edit", new { id = item.PublicId }) |</span>
                }
                @Html.ActionLink("Szczegóły", "Details", new { id = item.PublicId })

                @if(User.IsInRole("Admin") || User.IsInRole("Moderator"))
                {
                    <span>| @Html.ActionLink("Usuń", "Delete", new { id = item.PublicId })</span>
                }
                
            </td>
        </tr>
    }

</table>
