@model IEnumerable<ProjektZespolowy.Models.AirRoute>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AirLine.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartAirportCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishAirportCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AirLine.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublicId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartAirportCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishAirportCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AirRouteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AirRouteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AirRouteId })
        </td>
    </tr>
}

</table>
